<ul class="hidden md:flex space-x-8 font-medium text-gray-700">
  <li><%= link_to "Home", root_path, class: "hover:text-indigo-600 transition" %></li>
  <li><%= link_to "Blog", '#', class: "hover:text-indigo-600 transition" %></li>
  <li><%= link_to "About Us", '#', class: "hover:text-indigo-600 transition" %></li>
  <li><%= link_to "Courses", '/courses', class: "hover:text-indigo-600 transition" %></li>
  <li><%= link_to "Contact Us", '#', class: "hover:text-indigo-600 transition" %></li>
</ul>
