<ul class="hidden md:flex space-x-8 font-medium text-gray-700">
  <li><%= link_to "Home", root_path, class: "hover:text-indigo-600 transition" %></li>
  <li><%= link_to "Blog", '/posts', class: "hover:text-indigo-600 transition" %></li>
  <li><%= link_to "Courses", '/courses', class: "hover:text-indigo-600 transition" %></li>
  <li><%= link_to "Students", '/students', class: "hover:text-indigo-600 transition" %></li>
  <li><%= link_to "Enquiries", '/enquiries', class: "hover:text-indigo-600 transition" %></li>
</ul>
